[Unit]
Description=Space Vision Player
After=network-online.target graphical.target xorg-kiosk.service
Requires=xorg-kiosk.service
Wants=network-online.target

[Service]
Type=simple
User=entas
Group=entas
WorkingDirectory=/home/entas/space-vision-player
Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/entas/.Xauthority
Environment=SVP_MPV_VO=gpu
Environment=SVP_MPV_GPU_CONTEXT=x11egl
ExecStart=/usr/bin/python3 -m app.main
KillMode=control-group
Restart=always
RestartSec=2

[Install]
WantedBy=graphical.target
