[Unit]
Description=Dedicated Xorg for signage
After=systemd-user-sessions.service
Before=space-vision-player.service
Conflicts=getty@tty1.service

[Service]
Type=simple
User=root
Group=root
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
ExecStart=/usr/lib/xorg/Xorg :0 -nolisten tcp -noreset -keeptty -novtswitch -s 0 -dpms vt1
Restart=always
RestartSec=2

[Install]
WantedBy=graphical.target
